#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.podcasts {
  display: flex;
  flex-wrap: wrap;
}

.podcast {
  display: inline-block;
  padding: 0.1em 0.5em;
  margin: 0.5em;
  color: black;
  border-radius: 0.25em;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  background-color: #1a1a1a;
  border-radius: 0.25em;
  padding: 0.1em 0.5em;
  margin: 0.1em;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
}

.episode {
  display: inline-block;
  padding: 0.15em;
  margin: 0.3em;
  color: black;
  width: 15em;
  min-height: 8em;
  max-height: 15em;
  font-weight: 300;
}
