.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.textContainer {
  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
}

.podcasts {
  display: flex;
  flex-wrap: wrap;
}

.podcast {
  display: inline-block;
  padding: 0.1em 0.5em;
  margin: 0.5em;
  color: black;
  border-radius: 0.25em;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  background-color: #1a1a1a;
  border-radius: 0.25em;
  padding: 0.1em 0.5em;
  margin: 0.1em;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.episode {
  display: inline-block;
  padding: 0.15em;
  color: black;
  width: 15em;
  min-height: 6em;
  max-height: 15em;
  font-weight: 300;
  background-color: #1a1a1a;
  color: white;
}

.month {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
}

.blocGroup {
  display: flex;
  flex-wrap: wrap;
}

.episodeBloc {
  width: 20px;
  height: 20px;
  margin: 0.1em;
}

.footer {
  background-color: aliceblue;
  color:#1a1a1a;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footerContent {
  max-width: 600px;
  font-weight: 300;
  font-size: small;
  padding: 2em;
}

.header {
  background-color: aliceblue;
  color:#242424;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.headerContent {
  max-width: 800px;
  padding: 2em;
}